:root {
    --color1: #6d2c32;
    --color1a: #c72636;
    --color2: #000066;
    --color2a: #0909ec;
    --color3: #4b4146;
    --color3a: #d31172;
    --color4: #aabb00;
    --color4a: #eaff00;
    --color5: #0a480d;
    --color5a: #0bd615;
}