:root {
    --color1: #55f762;
    --color1a: #37553a;
    --color2: #ee33ee;
    --color2a: #2c0a2c;
    --color3: #be64f8;
    --color3a: #705a7e;
    --color4: #d0fdd3;
    --color4a: #6f8571;
    --color5: #c9f63a;
    --color5a: #78854f;
}